html {
    background-color: black;
    color: gray;
}
body {
 font-size: 2em;
}
p,
ul {
    background-color: #202020;
    border: 2px solid #600060;
}

ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border: 5px ridge #006060;
    font-size: 150%;
    background-color: rgba(50,0,50,0.5);
    width: 150px;
    height: 60px;
    text-align: center;
}

li:hover {    background-color: rgba(50,0,50,1);}

.block {
    display: block;
    border: 5px solid #000080;}

.bold {
    color: yellow;}
p {
    display: block;
}