@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lobster&family=Oswald:wght@700&display=swap');

html {
    background-color: #080810;
    color: darkgray;
}
body {
    width: 80%;
    margin: 20px auto;
    background-color: #884300;
    paging: 20px 20px 20px 20px;
    border: 5px solid yellow;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    color: #080810;
     text-shadow: 3px 3px 1px grey;

}

p  {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}

li {
    font-family: 'Hachi Maru Pop', cursive;
    line-height: 2;
    letter-spacing: 1px;
}



.fntred {
    color: green;
    padding: 0 0 0 20px ;
 }

 img {
  display: block;
  margin: 0 auto;
}

.ppp {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor:pointer;
}